body {
    font-family: Snell Roundhand, cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.hidden-element {
    display: none;
    cursor: default;
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 100vw;
    max-width: 180px;
    height: auto;
    padding: 20px;
    padding-top: 10px;
    background-color: black;
    color: wheat;
    border-radius: 10px;
    animation: slideUp 0.5s ease;
}

.p {
    display: flex;
    justify-content: end;
    margin: 0;
    cursor: pointer;
}

.div-icon {
    margin-top: -20px;
    margin-left: -10px;
    font-size: 45px;
    animation: pulse 2s infinite;
}

.div-p {
    margin-top: 30px;
    font-size: 17px;
    
}

.div-btn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.div-btn:hover {
    background-color: rgb(150, 150, 150);
}

.focus {
    display: block !important;
}